<div 
  class="navigation-bar__logo"
>
    
    <div
      class="navigation-bar__logo-text"
    >Warehouse</div>
</div>

<div 
  class="navigation-bar__list"
>
  <div
    class="navigation-bar__list-item"
    *ngFor="let navigationItem of navigationItems"
    (click)="onNavigationItemSelected(navigationItem)"
  >
    
    <div
      class="navigation-bar__list-item_link"
      [class.navigation-bar__list-item_link-selected]="navigationItem.selected"
    >
      {{ navigationItem.name }}
    </div>

    <div
      [class.navigation-bar__list-item_gradient]="navigationItem.selected"
    ></div>
  </div>
</div>