
<form class="login" role="form" ng-submit="login()">
  <div class="user-name">
    <label for="username">Username:</label> <input type="text"
    class="form-control" id="username" name="username" ng-model="credentials.username"/>
  </div>
  <div class="user-password">
    <label for="password">Password:</label> 
    <input type="password"class="form-control" id="password" name="password" ng-model="credentials.password"/>
  </div>
  <div class="button">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>